

<div class="checkout-page-wrapper section-space pb-0">
    <div class="container">

        <div class="row">
            <!-- Checkout Billing Details -->
            <div class="col-lg-6">
                <div class="checkout-billing-details-wrap">
                    <h2>Thông tin khách hàng</h2>
                    <div class="billing-form-wrap">
                        <form action="">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="single-input-item">
                                        <label for="f_name" class="required">First Name</label>
                                        <input type="text" id="f_name" placeholder="First Name" required />
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="single-input-item">
                                        <label for="l_name" class="required">Last Name</label>
                                        <input type="text" id="l_name" placeholder="Last Name" required />
                                    </div>
                                </div>
                            </div>

                            <div class="single-input-item">
                                <label for="email" class="required">Email Address</label>
                                <input type="email" id="email" placeholder="Email Address" required />
                            </div>


                            <div class="single-input-item">
                                <label for="tinh" class="required" style="display: block;">Tỉnh</label>
                                <select class="diachi" name="" id="province"></select>
                            </div>

                            <div class="single-input-item">
                                <label for="quan" class="required" style="display: block;">Quận</label>
                                <select class="diachi" name="" id="district">
                                    <option value="">Chọn quận</option>
                                </select>
                            </div>

                            <div class="single-input-item">
                                <label for="phuong" class="required" style="display: block;">Phường</label>
                                <select class="diachi" name="" id="ward">
                                    <option value="">Chọn phường</option>
                                </select>
                            </div>


                            <div class="single-input-item">
                                <label for="state">Đường</label>
                                <input type="text" id="state" placeholder="Nhập số đường" />
                            </div>



                            <!-- End Địa chỉ -->
                            <div class="single-input-item">
                                <label for="phone">Phone</label>
                                <input type="text" id="phone" placeholder="Phone" />
                            </div>

                            <div class="checkout-box-wrap">
                                <div class="single-input-item">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="create_pwd">
                                        <label class="custom-control-label" for="create_pwd">Bạn đã có tài khoản ?</label>
                                    </div>
                                </div>
                                <div class="account-create single-form-row">
                                    <p>
                                        Create an account by entering the information below. If you are a
                                        returning customer please login at the top of the page.
                                    </p>
                                    <div class="single-input-item">
                                        <label for="pwd" class="required">Account Password</label>
                                        <input type="password" id="pwd" placeholder="Account Password" required />
                                    </div>
                                </div>
                            </div>


                            <div class="single-input-item">
                                <label for="ordernote">Ghi chú</label>
                                <textarea name="ordernote" id="ordernote" cols="30" rows="3" placeholder="Notes about your order, e.g. special notes for delivery."></textarea>
                            </div>
                        </form>
                        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
                        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.26.1/axios.min.js" integrity="sha512-bPh3uwgU5qEMipS/VOmRqynnMXGGSRv+72H/N260MQeXZIK4PG48401Bsby9Nq5P5fz7hy5UGNmC/W1Z51h2GQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
                        @*<script src="/index.js"></script>*@
                        <script src="~/Assets/user/assets/index.js"></script>
                    </div>
                </div>
            </div>

            <!-- Order Summary Details -->
            <div class="col-lg-6">
                <div class="order-summary-details">
                    <h2>Thông tin thanh toán</h2>
                    <div class="order-summary-content">
                        <!-- Order Summary Table -->
                        <div class="order-summary-table table-responsive text-center">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th><strong>Sản phẩm</strong></th>
                                        <th><strong>Thành tiền</strong></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <a href="product-details.html">Suscipit Vestibulum <strong> × 1</strong></a>
                                        </td>
                                        <td>$165.00</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="product-details.html">Ami Vestibulum suscipit <strong> × 4</strong></a>
                                        </td>
                                        <td>$165.00</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="product-details.html">Vestibulum suscipit <strong> × 2</strong></a>
                                        </td>
                                        <td>$165.00</td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td>Thành tiền</td>
                                        <td>$400</td>

                                    </tr>
                                    <tr>
                                        <td>VAT (10%)</td>
                                        <td>$400</td>

                                    </tr>
                                    <tr>
                                        <td>Giảm giá</td>
                                        <td>$470</td>
                                    </tr>
                                   
                                    <tr>
                                        <td>Tổng thanh toán</td>
                                        <td>$470</td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                        <!-- Order Payment Method -->
                        <div class="order-payment-method">
                         
                            <div class="summary-footer-area">
                                <div class="custom-control custom-checkbox mb-20">
                                    <input type="checkbox" class="custom-control-input" id="terms" required />
                                    <label class="custom-control-label" for="terms">
                                        I have read and agree to
                                        the website <a href="index.html">terms and conditions.</a>
                                    </label>
                                </div>
                                <button type="submit" class="btn btn__bg">Place Order</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
