<aside class="sidebar-wrapper">
    <!-- single sidebar start -->
    <div class="sidebar-single">
        <h3 class="sidebar-title">categories</h3>
        <div class="sidebar-body">
            <ul class="shop-categories">
                <li><a href="#">Jasmine <span>10</span></a></li>
                <li><a href="#">Rose <span>5</span></a></li>
                <li><a href="#">Orchid <span>8</span></a></li>
                <li><a href="#">Blossom <span>4</span></a></li>
                <li><a href="#">Hyacinth <span>5</span></a></li>
                <li><a href="#">Bouquet <span>2</span></a></li>
            </ul>
        </div>
    </div>
    <!-- single sidebar end -->
    <!-- single sidebar start -->
    <div class="sidebar-single">
        <h3 class="sidebar-title">price</h3>
        <div class="sidebar-body">
            <div class="price-range-wrap">
                <div class="price-range" data-min="0" data-max="1000"></div>
                <div class="range-slider">
                    <form action="#" class="d-flex align-items-center justify-content-between">
                        <div class="price-input">
                            <label for="amount">Price: </label>
                            <input type="text" id="amount">
                        </div>
                        <button class="filter-btn">filter</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</aside>
